extends layout
block content
  h1= title
  if (result == null)
    h2 No instance to show
  else
    - let costumeid = result._id
    - let costume_type = result.costume_type
    - let costumecost = result.cost
    - let costumesize = result.size
    div
      div.row
        div(class='costumeAttr mr-3') Artwork ID is:
        div #{costumeid}
      div.row
        div(class='costumeAttr mr-3') Artwork Type is:
        div #{costume_type}
      div.row
        div(class='costumeAttr mr-3') Artwork Size is:
        div #{costumesize}
      div.row
        div(class='costumeAttr mr-3') Artwork Cost is:
        div #{costumecost}
