extends layout

block content
  h1= title
  - let artWorks = results;
  - let create = `dispatch("/artworks/create")`
  button.btn.btn-sm.btn-primary.ml-1(onclick= create) Create

  div(class="container-fluid")
    each artWork in artWorks
      - let destination = `dispatch("/artworks/update?id=${artWork._id}")`
      - let detail = `dispatch("/artworks/detail?id=${artWork._id}")`
      - let deleteD = `dispatch("/artworks/delete?id=${artWork._id}")`
      div(class="col-sm-2")
        p ArtWork Name: #{artWork.costume_type}
        p ArtWork Cost: $#{artWork.cost}
        p ArtWorkSize: #{artWork.size}
      button.btn.btn-sm.btn-primary.ml-1(onclick= destination) Update
      button.btn.btn-sm.btn-warning.ml-1(onclick= detail) Detail
      button.btn.btn-sm.btn-dark.ml-1(onclick= deleteD) Delete
      br
      br

  script.
    function dispatch(path) {
      window.location.href = path;
    }