extends layout
 
block content
  h1= title
 
  div(class="container-fluid")
    div(class="row")
      - for(let i = 0; i < results.length; i++){
        div(class="col-sm-2", style = 'cursor: pointer;', id = `res-${i}`)
          p artsworkName: #{results[i].costume_type}
          p artsworkCost: $#{results[i].cost}
          p artsworkSize: #{results[i].size}
 
        script.
          (function(index) {
            document.getElementById(`res-${index}`).addEventListener('click', function() {
              buy(index);
            });
          })(i);
      - }
    script.
      function buy(index){
        alert(`You purchased item ${index}`)
      }