extends layout
block content
  h1= title
  - let costumeid = result._id
  - let costume_type = result.costume_type
  - let costumecost = result.cost
  - let costumesize = result.size

  div.row(class='mb-2')
    div.mr-1 ID is
    div #{costumeid}

  - let actionid = "/resource/artworks/" + costumeid
  form(id='ArtWorkForm', action=actionid, method="PUT")
    div.form-group
      label.costumeAttr(for='costume_type') ArtWork type
      input#costume_type(type='text', name='costume_type', value=costume_type)
    div.form-group
      label.costumeAttr(for='size') ArtWork size
      input#size(type='text', name='size', value=costumesize)
    div.form-group
      label.costumeAttr(for='cost') ArtWork cost
      input#cost(type='number', name='cost', value=costumecost)
    input(type="submit")

  script.
    document.forms['ArtWorkForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Updated successfully");
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed: " + error);
      });
    });
